/*NAV*/
.bg-light {
    background: #ff5722 !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-brand {
    color: white !important;
    transition: 0.8s;
}

    .navbar-light:hover .navbar-nav:hover .nav-link.active:hover, .navbar-brand:hover {
        color: #f1d7cf !important;
        transition: 0.6s;
    }
